<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="oselo_userinfo">
        <div class="player1">[player 1 : ]</div>
        <div class="player2">[player 2 : ]</div>
    </div>
    <div class="oselo_userinfo">
        <div class="oselo_turn_info">[turn : ]</div>
        <div class="oselo_round_info">[round : ]</div>
    </div>
    <div class="oselo_check_box">
        <div>
            <div class="oselo_empty_box" id="oselo_1_1"></div>
            <div class="oselo_empty_box" id="oselo_1_2">
                <div><i class="fas fa-skull"></i></div>
            </div>
            <div class="oselo_empty_box" id="oselo_1_3">
                
            </div>
            <div class="oselo_empty_box" id="oselo_1_4"></div>
            <div class="oselo_empty_box" id="oselo_1_5"></div>
            <div class="oselo_empty_box" id="oselo_1_6"></div>
            <div class="oselo_empty_box" id="oselo_1_7"></div>
            <div class="oselo_empty_box" id="oselo_1_8"></div>
        </div>
        <div>
            <div class="oselo_empty_box" id="oselo_2_1"></div>
            <div class="oselo_empty_box" id="oselo_2_2"></div>
            <div class="oselo_empty_box" id="oselo_2_3"></div>
            <div class="oselo_empty_box" id="oselo_2_4"></div>
            <div class="oselo_empty_box" id="oselo_2_5"></div>
            <div class="oselo_empty_box" id="oselo_2_6"></div>
            <div class="oselo_empty_box" id="oselo_2_7"></div>
            <div class="oselo_empty_box" id="oselo_2_8"></div>
        </div>
        <div>
            <div class="oselo_empty_box" id="oselo_3_1"></div>
            <div class="oselo_empty_box" id="oselo_3_2"></div>
            <div class="oselo_empty_box" id="oselo_3_3"></div>
            <div class="oselo_empty_box" id="oselo_3_4"></div>
            <div class="oselo_empty_box" id="oselo_3_5"></div>
            <div class="oselo_empty_box" id="oselo_3_6"></div>
            <div class="oselo_empty_box" id="oselo_3_7"></div>
            <div class="oselo_empty_box" id="oselo_3_8"></div>
        </div>
        <div>
            <div class="oselo_empty_box" id="oselo_4_1"></div>
            <div class="oselo_empty_box" id="oselo_4_2"></div>
            <div class="oselo_empty_box" id="oselo_4_3"></div>
            <div class="oselo_empty_box" id="oselo_4_4">
                <div><i class="fab fa-python player1"></i></div>
            </div>
            <div class="oselo_empty_box" id="oselo_4_5">
                <div><i class="fab fa-python player2"></i></div>
            </div>
            <div class="oselo_empty_box" id="oselo_4_6"></div>
            <div class="oselo_empty_box" id="oselo_4_7"></div>
            <div class="oselo_empty_box" id="oselo_4_8"></div>
        </div>
        <div>
            <div class="oselo_empty_box" id="oselo_5_1"></div>
            <div class="oselo_empty_box" id="oselo_5_2"></div>
            <div class="oselo_empty_box" id="oselo_5_3"></div>
            <div class="oselo_empty_box" id="oselo_5_4">
                <div><i class="fab fa-python player2"></i></div>
            </div>
            <div class="oselo_empty_box" id="oselo_5_5">
                <div><i class="fab fa-python player1"></i></div>
            </div>
            <div class="oselo_empty_box" id="oselo_5_6"></div>
            <div class="oselo_empty_box" id="oselo_5_7"></div>
            <div class="oselo_empty_box" id="oselo_5_8"></div>
        </div>
        <div>
            <div class="oselo_empty_box" id="oselo_6_1"></div>
            <div class="oselo_empty_box" id="oselo_6_2"></div>
            <div class="oselo_empty_box" id="oselo_6_3"></div>
            <div class="oselo_empty_box" id="oselo_6_4"></div>
            <div class="oselo_empty_box" id="oselo_6_5"></div>
            <div class="oselo_empty_box" id="oselo_6_6"></div>
            <div class="oselo_empty_box" id="oselo_6_7"></div>
            <div class="oselo_empty_box" id="oselo_6_8"></div>
        </div>
        <div>
            <div class="oselo_empty_box" id="oselo_7_1"></div>
            <div class="oselo_empty_box" id="oselo_7_2"></div>
            <div class="oselo_empty_box" id="oselo_7_3"></div>
            <div class="oselo_empty_box" id="oselo_7_4"></div>
            <div class="oselo_empty_box" id="oselo_7_5"></div>
            <div class="oselo_empty_box" id="oselo_7_6"></div>
            <div class="oselo_empty_box" id="oselo_7_7"></div>
            <div class="oselo_empty_box" id="oselo_7_8"></div>
        </div>
        <div>
            <div class="oselo_empty_box" id="oselo_8_1"></div>
            <div class="oselo_empty_box" id="oselo_8_2"></div>
            <div class="oselo_empty_box" id="oselo_8_3"></div>
            <div class="oselo_empty_box" id="oselo_8_4"></div>
            <div class="oselo_empty_box" id="oselo_8_5"></div>
            <div class="oselo_empty_box" id="oselo_8_6"></div>
            <div class="oselo_empty_box" id="oselo_8_7"></div>
            <div class="oselo_empty_box" id="oselo_8_8"></div>
        </div>
    </div>

    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
    <script>
        let oceloTable = JSON.parse("<%= JSON.stringify(oceloTable)%>".replaceAll('&#34;', '\"'));
        let turn = JSON.parse("<%= JSON.stringify(turn)%>".replaceAll('&#34;', '\"'));
        let userId = JSON.parse("<%= JSON.stringify(user)%>".replaceAll('&#34;', '\"'));
        let player1 = JSON.parse("<%= JSON.stringify(player1)%>".replaceAll('&#34;', '\"'));
        let player2 = JSON.parse("<%= JSON.stringify(player2)%>".replaceAll('&#34;', '\"'));
        let roomName = JSON.parse("<%= JSON.stringify(roomName)%>".replaceAll('&#34;', '\"'));

        let status_f = [false, false];
        let round = 0;
        //console.log(oceloTable);
    </script>
    <script src="../socket.io-client/dist/socket.io.js"></script>
    <script src="/javascripts/component/key.js"></script>
    <script src="/javascripts/screen/oselo/finishCondition.js"></script>
    <script src="/javascripts/screen/oselo/oselo.js"></script>
    
</body>
</html>